#mainHome {
    display: flex;
    height: 100vh;
    padding-top: 45px;
    box-sizing: border-box;
}

.content {
    box-sizing: border-box;
    overflow: hidden;
    width: 80%;
    border-top-left-radius: 20px;
    /* border-bottom-left-radius: 20px; */
}

.janelaLateralPequena {
    width: 20%;
    /* border-right: 3px solid black; */
    /* box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.1); */
    /* background: var(--gradientClaro); */
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.divTituloCamadas {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.botaoNovaCamada {
    background-color: var(--destaque2);
    color: var(--fundo);
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

.botaoNovaCamada:hover {
    transform: scale(1.02);
}

.novaCamada {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--auxiliar2);
    padding: 10px 0px;
    margin: 10px;
    border-radius: 10px;
}

.novaCamada input {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 4px;
    width: 80%;
    border-radius: 8px;
    margin: 8px 0px;
}

.novaCamada button:hover {
    transform: scale(1.02);
}

.novaCamada button {
    width: 80%;
    padding: 4px;
    border-radius: 8px;
    border: none;
}

.botaoSalvarNovaCamada {
    background-color: var(--destaque2);
    color: var(--fundo);
    margin-bottom: 8px;
}