@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Train+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open sans';
    background-color: var(--fundo);
    height: 100vh;
}

p,
h1,
h2 {
    padding: 0;
    margin: 0;
}

:root {
    --fundo: #E5E5DB;
    --destaque1: #0e4229;
    --destaque2: #000000;
    --texto: #000000;
    --auxiliar: #dbf868;
    --auxiliar2: rgb(194, 196, 182);
    --gradientEscuro: radial-gradient(circle, rgb(0, 71, 36) 0%, rgb(0, 27, 11) 100%);
    --gradientClaro: linear-gradient(180deg, rgba(229, 229, 219, 1) 0%, rgba(255, 255, 255, 1) 100%);
}