.telInicioContent {
    height: calc(100vh - 45px);
    margin: 0;
    padding: 0;
    margin-top: 45px;
    overflow: hidden;
}

p {
    font-size: 14px;
}

@media (max-width: 800px) {

    .menuSuperiorHeader,
    .botaoPopUpMapa {
        display: none;
    }

    .telInicioContent {
        height: 100vh;
        margin-top: 0;
    }

    .janelaProviders {
        top: 20px;
        right: 20px
    }
}