.registrosPage {
    height: calc(100vh - 45px);
    padding-top: 45px;
    display: flex;
    width: 100%;
}

.esquerdaRegistros {
    width: 25%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.direitaRegistros {
    width: 75%;
    background-color: var(--destaque1);
    box-sizing: border-box;
    overflow-y: hidden;
}

.topoRegistros {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.pesquisaPorData {
    display: flex;
    width: 100%;
    gap: 5px;
    box-sizing: border-box;
}

.pesquisaPorDataInputs {
    display: flex;
    gap: 5px;
}

.inputdata {
    flex: 1;
    box-sizing: border-box;
    width: 40%;
}

.registrosPage input {
    background-color: var(--destaque2);
    border: none;
    color: var(--fundo);
    border-radius: 8px;
    padding: 5px;
    margin: 5px 0px;
}

.inputPesquisaQualquerCoisa {
    width: 100%;
    box-sizing: border-box;
}

.divRegistros {
    background-color: white;
    width: 100%;
    border-radius: 15px;
    flex-grow: 1;
    overflow-y: auto;
}

.registroItemLista {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    overflow-y: auto;
    cursor: pointer;
}

.registroItemLista.selecionado {
    background-color: black;
    color: white;
}

.registroItemLista:hover {
    background-color: var(--destaque1);
    color: var(--fundo);
}

.carregandoPercursoDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;

    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.3);
}

.carregandoPercursoDiv img {
    width: 80px;
    object-fit: contain;
}

.botaoCarregarMais {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 50px;
    width: 80%;
    border: none;
    font-weight: bold;
}

.botaoCarregarMais:hover {
    /* background-color: var(--auxiliar);
    color: black;
    /* border: solid 2px black; */
    transform: scale(1.05);
    cursor: pointer;
}