.camada {
    /* background: var(--gradientEscuro); */
    padding: 20px 10px;
    color: var(--destaque2);
    cursor: pointer;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    /* font-weight: bold; */
}

.nomeCamada {
    display: flex;
    padding: 0px 5px;
}

.expandirIcon {
    width: 13px;
    object-fit: contain;
    margin-right: 10px;
}

.iconExpandido {
    transform: scale(-1);
}

.camada.expandida {
    background-color: white;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

.camadaExpandida {
    color: var(--texto);
    /* border-left: solid 3px rgb(0, 0, 0); */
    padding: 5px;
    margin-top: 10px;
    font-weight: normal;
}

.cercaLista {
    /* border-bottom: 1px solid var(--destaque1); */
    padding: 5px 10px;
}

.cercaItem {
    cursor: pointer;
    padding: 2px;
}

.cercaItem:hover {
    background-color: var(--destaque1);
    color: var(--fundo);
    border-radius: 5px;
}

.botaoEditarIcon {
    width: 15px;
}

.botaoEditarCamada {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    margin-left: 5px;
}

.botaoEditarCamada:hover {
    cursor: pointer;
    transform: scale(1.2);
}