.mapa {
    background-color: red;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.botaoPopUpMapa {
    background-color: var(--destaque2);
    border: none;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
    color: var(--fundo);
}

.leaflet-top .leaflet-control {
    margin-top: 25px;
}

.leaflet-touch .leaflet-bar a {
    width: 30px;
    height: 40px;
    line-height: 30px;
    /* border: 1px solid var(--destaque2); */
    /* border: none; */

    /* border: solid 1px rgb(0, 95, 48); */
    /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4); */
}

.leaflet-bar a,
.leaflet-control-layers-toggle {
    /* background-color: var(--auxiliar); */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* color: white; */
    box-shadow: none;
}

/* .leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    background-color: black;
    color: white;
} */
/* 
.leaflet-control-zoom .leaflet-bar .leaflet-control {
    border: solid 1.5px black;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
} */

.leaflet-bar a:hover {
    /* background-color: var(--auxiliar); */
    background-color: white;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    /* border: 3px solid var(--destaque2) */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    /* border: 2px solid var(--destaque2); */
    /* border: none; */
    border: solid 1px white;
    /* border: solid 2px #464646; */
}

.leaflet-draw-draw-polygon {
    background-color: white;
    color: white;

}

.leaflet-marker-icon {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    border: 4px solid var(--destaque2);
    /* border: none; */
    /* background-color: var(--fundo);
     */
    /* background-color: var(--gradientEscuro); */
}

.leaflet-bar {
    border-radius: 0px;
    border: none;
}

.leaflet-draw-draw-polygon {
    fill: white;
}

.leaflet-draw .leaflet-control a svg path {
    fill: #ffffff !important;
}

.pJanelaProviders {
    /* margin: 4px 0px; */
}

.janelaProviders {
    padding: 10px 10px;
    /* background: var(--fundo); */
    /* background-color: black; */
    background: var(--gradientEscuro);
    color: white;
    position: absolute;
    z-index: 1000;
    right: 20px;
    top: 60px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    border: solid 3px var(--fundo);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#checkVerCercas {
    width: 15px;
}

.divCheckJanelaProviders {
    display: flex;
    /* margin: 3px 0px; */
    width: 100%;
    align-items: center;
    justify-content: center;
}

#providerSelect {
    /* border: 1px solid var(--fundo); */
    background-color: var(--fundo);
    /* background-color: black; */
    /* color: white; */
    border-radius: 8px;
    /* border: solid 1.5px black; */
    /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4); */
    /* color: var(--fundo); */
    padding: 5px 10px;
    margin: 5px 0px;
    /* border-radius: 4px; */
}

.leaflet-edit-marker-selected {
    border: none;
    background: none;
}

.leaflet-interactive {
    background-color: var(--fundo);
    border: none;
}

.iconeVeiculo {
    background: none;
    border-radius: 0px;
}

.divCarregando {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
    /* background-color: var(--fundo); */
    /* background-color: black; */
    background: var(--gradientEscuro);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    border: solid 3px var(--fundo);
    color: white;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    /* border: solid 2px black; */
}

.divCarregando img {
    width: 30px;
    margin-right: 10px;
}

.itemListaDiv {
    width: 100%;
}