.menuSuperiorHeader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 45px;

    background: var(--gradientEscuro);

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);

    border-bottom: 3px solid var(--fundo);
    box-sizing: border-box;

    z-index: 10000;
}

.menuSuperior {
    display: flex;
    height: 100%;
}

.link {
    text-decoration: none;
    color: var(--fundo);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    margin: 0px 10px;
}

.link.active {
    background-color: var(--auxiliar);
    color: var(--destaque2);
    /* border-radius: 50px; */
    font-weight: 700;
}

.sitrev_text_logo {
    object-fit: contain;
    height: 27px;
    margin-right: 10px;
}