.paginaMotoristaIndividual {
    width: 100%;
    height: calc(100vh - 45px);
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--fundo);
    padding-top: 45px;
}

#motoristaIndividualPageEsquerda {
    width: 30%;
    height: calc(100vh - 45px);
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
}

#motoristaIndividualPageEsquerda p {
    font-size: 13px;
}

#motoristaIndividualPageDireita {
    width: 70%;
    height: calc(100vh - 45px);
    overflow-y: hidden;
    background-color: var(--destaque1);
}

.divCarregandoMotorista {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: var(--fundo);
}

.botaoFechar {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.botaofecharImg {
    width: 30px;
}

.topoMotoristaIndividual {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.motoristaDemaisInformações {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: hidden;
}

.divViagensMotorista {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px 0px;
    /* max-height: 25vh; */
    flex: 1;
    overflow-y: auto;
}

.viagemMotoristaItemLista {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    cursor: pointer;
}

.viagemMotoristaItemLista:hover {
    background-color: var(--destaque1);
    color: white;
}

.botaoMostrarTodosOsAlertas {
    background-color: var(--destaque2);
    color: var(--fundo);
    border: none;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.divFiltroMotoristaInidividual {
    width: 100%;
    display: flex;
    gap: 5px;
    /* width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 5px; */
}

.inputFiltroMotorista {
    flex: 1;
    width: 50%;

    background-color: var(--destaque2);
    color: var(--fundo);
    border: none;
    padding: 5px;
    border-radius: 5px;
    padding-left: 8px;
}

.inputPesquisaMotoristaIndividual {
    background-color: black;
    border: none;
    margin: 5px 0px;
    padding: 5px 5px;
    border-radius: 5px;
    color: white;
}

.viagemSelecionada {
    background-color: black;
    color: white;
}

.botaoGerarRelatorio {
    background-color: black;
    color: white;
    padding: 0;
    margin: 5px 0px;
    height: 30px;
    width: 130px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}